day02/~$day02.doc
day01/2021302323游芳泽-python编程语言-ch01 作业.rar
day02/2021302323游芳泽-python编程语言-ch02作业.rar
day03/2021302323 游芳泽-python编程语言-ch03作业.rar
颜真卿书法体.ttf
day03-01.py
pywordcloud2.png
day04/day04/spiders/__pycache__/douban.cpython-38.pyc
day04/day04/__pycache__/settings.cpython-38.pyc
day04/day04/__pycache__/items.cpython-38.pyc
day04/day04/__pycache__/settings.cpython-38.pyc
day04/day04/spiders/__pycache__/manage.cpython-38.pyc
day04/day04/__pycache__/pipelines.cpython-38.pyc
